*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#0b0b0b;
color:white;
}

header{
text-align:center;
padding:40px 20px;
}

.logo{
font-size:35px;
color:#d4af37;
font-weight:bold;
letter-spacing:2px;
}

header p{
margin-top:10px;
color:#ddd;
}


.hero{
text-align:center;
padding:80px 20px;
background:linear-gradient(#000000cc,#000000cc),
url("https://via.placeholder.com/1200x600");
background-size:cover;
}


.hero h1{
font-size:45px;
color:#d4af37;
}

.hero p{
margin:20px;
font-size:18px;
}


.btn,
.order{
display:inline-block;
background:#d4af37;
color:black;
padding:12px 25px;
border-radius:30px;
text-decoration:none;
font-weight:bold;
margin-top:20px;
}


.products{
padding:50px 20px;
text-align:center;
}


.products h2,
.about h2,
.delivery h2{
color:#d4af37;
font-size:32px;
margin-bottom:30px;
}


.product-container{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
}


.card{
background:#161616;
width:300px;
padding:20px;
border-radius:15px;
border:1px solid #333;
}


.card img{
width:100%;
border-radius:10px;
}


.card h3{
color:#d4af37;
margin:15px 0;
}


.card p{
color:#ddd;
line-height:1.5;
}


.about,
.delivery{
text-align:center;
padding:50px 20px;
}


footer{
text-align:center;
padding:25px;
background:#000;
color:#aaa;
}


@media(max-width:600px){

.hero h1{
font-size:32px;
}

.logo{
font-size:25px;
}

}
